<div class="row">
    <div class="col-md-12 phone-item" ng-repeat="phone in phoneList">
        <a href="">
            <img ng-src="images/{{ phone.image_link }}" alt="" class="img-responsive">
            <p><span>{{ phone.name }}</span></p>
            <p><span>{{ phone.price }} VNĐ</span></p>
        </a>
    </div>
</div>
<!-- <ul class="list-unstyled">
    <li ng-repeat="phone in phoneList">
        <p>ID: {{ phone.id }}</p>
        <p>Name: {{ phone.name }}</p>
        <p>Price: {{ phone.price }}</p>
    </li>
</ul> -->
